.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.04);
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.05),
    transparent
  );
  animation: shimmer 1.6s infinite;
}

.rectangular {
  border-radius: var(--card-radius);
}

.text {
  height: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.circular {
  border-radius: 50%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
